@page "/"
@using EldenRingWiki.Data
@using EldenRingWiki.Services
@inject IAmmoAPIService APIService


@* Simple table for importing images, numbers, and descriptions of pokemon *@
<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-1">Image</th>
			<th class="col-6">Id</th>
			<th class="col-7">Name</th>
			<th class="col-8">Description</th>
			<th class="col-6">Type</th>
			<th class="col-6">Passive</th>
		</tr>
	</thead>
	<tbody>		
		@foreach (AmmoItem Ammo in AmmoList) {
		}
	</tbody>
</table>

@code
{
	private List<AmmoItem> AmmoList = new List<AmmoItem>();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			AmmoList.Add(await APIService.GetAmmo("Firebone%20Arrow"));

				StateHasChanged();
		}
	}
}